extends layout

block content
    .blocks.auctions-page
        .flex-arrow
            h6
                | Auctions
                span.arrow
        p.text-list Live Auction List
        .one-block
            ul
                li
                    | Status
                    span.d-green Issued
                li
                    | Auction ID
                    span 000001
                li
                    | Closing Date
                    span.green 09/06/2018
                li
                    | # of Investors
                    span 23
                li
                    | Total Collected
                    span.blue 200,000$
            p.approval Al'COINs transferred
            // или ссылкой или спаном можно
            span.butt-start(onclick="window.location.href='/wallet'") VIEW WALLET
        .one-block
            .logo
                .for-flex
                    img.img-responsive(src='img/logo_white.svg', alt='')
            ul
                li
                    | Auction ID
                    span 000001
                li
                    | Closing Date
                    span.green 09/06/2018
                li
                    | # of Investors
                    span 23
                li
                    | Total Collected
                    span.blue 200,000$
            // или ссылкой или спаном можно
            span.butt-start START
