extends layout

block content
    .blocks.auctions-page
        .flex-arrow
            h6
                | Auctions
                span.arrow
        p.text-list Live Auction List
        .one-block.orange-border
            ul
                li
                    | Status
                    span.orange In Production
                li
                    | Auction ID
                    span 000002
                li
                    | Closing Date
                    span.red 09/06/2018
                li
                    | # of Investors
                    span 23
                li
                    | Total Collected
                    span.orange 200,000$
            div
                svg(style="display: block;margin: auto", width='100px', height='100px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 100 100', preserveaspectratio='xMidYMid')
                    g(transform='rotate(0 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.9166666666666666s', repeatcount='indefinite')
                    g(transform='rotate(30 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.8333333333333334s', repeatcount='indefinite')
                    g(transform='rotate(60 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.75s', repeatcount='indefinite')
                    g(transform='rotate(90 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.6666666666666666s', repeatcount='indefinite')
                    g(transform='rotate(120 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.5833333333333334s', repeatcount='indefinite')
                    g(transform='rotate(150 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.5s', repeatcount='indefinite')
                    g(transform='rotate(180 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.4166666666666667s', repeatcount='indefinite')
                    g(transform='rotate(210 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.3333333333333333s', repeatcount='indefinite')
                    g(transform='rotate(240 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.25s', repeatcount='indefinite')
                    g(transform='rotate(270 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.16666666666666666s', repeatcount='indefinite')
                    g(transform='rotate(300 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='-0.08333333333333333s', repeatcount='indefinite')
                    g(transform='rotate(330 50 50)')
                        rect(x='47', y='24', rx='9.4', ry='4.8', width='6', height='12', fill='#eb8217')
                        animate(attributename='opacity', values='1;0', keytimes='0;1', dur='1s', begin='0s', repeatcount='indefinite')
            p.waiting.orange Waiting for notification
        .one-block.purple-border
            .logo
                .for-flex
                    img.img-responsive(src='img/logo_white.svg', alt='')
            ul
                li
                    | Auction ID
                    span 000001
                li
                    | Closing Date
                    span.red 09/06/2018
                li
                    | # of Investors
                    span 23
                li
                    | Total Collected
                    span.blue 200,000$
            // или ссылкой или спаном можно
            span.butt-start START
    script.
        setTimeout(function () {
          window.location.href='/auction-approval-received'
        }, 3000);
