extends layout

block append head
    script(src='/javascripts/smart-contracts.js')

block content
    .fixed-button-wr
        a.fixed-button#send-money Send money
        a.fixed-button#launch-auction Launch Auction
        a.fixed-button.pink-bg#produce-auction Produce Auctions
        a.fixed-button.pink-bg#send-auction Send Auctions
        a.fixed-button.pink-bg#issue-auction Issue Auctions


