extends layout

block append head
  script(src='/javascripts/spv-set-days.js')

block content
  h1= title
  p Here are we going set number of days and finish creating autciotn


  button#set-number-of-days Continue with 50 days

