extends layout

block append head
  script(src='/javascripts/spv-set-diamonds.js')

block content
  h1= title
  p Here are we going set number of diamonds


  button#set-number-of-diamonds Continue with 100 diamonds

