extends layout

block content
  .date-line
    // при скролле добавляется класс active
    .one-date-wr
      .left-side
        img.img-responsive(src='img/tg.jpeg')
        p.day-count 100 Days
        p.end-date
          | End Date
          span 09/06/2018
      .right-side
        span 100.00
        .b-l
        .s-l
        .s-l
        .s-l
    .one-date-wr
      .left-side
        img.img-responsive(src='img/tg.jpeg')
        p.day-count 90 Days
        p.end-date
          | End Date
          span 09/06/2018
      .right-side
        span 90.00
        .b-l
        .s-l
        .s-l
        .s-l
    .one-date-wr
      .left-side
        img.img-responsive(src='img/tg.jpeg')
        p.day-count 80 Days
        p.end-date
          | End Date
          span 09/06/2018
      .right-side
        span 80.00
        .b-l
        .s-l
        .s-l
        .s-l
    .one-date-wr.active
      .left-side
        img.img-responsive(src='img/tg.jpeg')
        p.day-count 70 Days
        p.end-date
          | End Date
          span 09/06/2018
      .right-side
        span 70.00
        .b-l
        .s-l
        .s-l
        .s-l
    .one-date-wr
      .left-side
        img.img-responsive(src='img/tg.jpeg')
        p.day-count 60 Days
        p.end-date
          | End Date
          span 09/06/2018
      .right-side
        span 60.00
        .b-l
        .s-l
        .s-l
        .s-l
    .one-date-wr
      .left-side
        img.img-responsive(src='img/tg.jpeg')
        p.day-count 50 Days
        p.end-date
          | End Date
          span 09/06/2018
      .right-side
        span 50.00
        .b-l
        .s-l
        .s-l
        .s-l
  .fixed-button-wr
    // или ссылкой или спаном можно
    a.fixed-button(href='/spv-view-auctions') Continue with 70 Days


