extends layout

block content
    .blocks.auctions-page
        .flex-arrow
            h6
                | Auctions
                span.arrow
        p.text-list Live Auction List
        .one-block.green-border
            ul
                li
                    | Status
                    span.d-green Ready
                li
                    | Auction ID
                    span 000001
                li
                    | Closing Date
                    span.d-green 09/06/2018
                li
                    | # of Investors
                    span 23
                li
                    | Total Collected
                    span.blue 200,000$
            p.waiting.d-green 1000 / 1000 DIAMs received
            span.butt-start LAUNCH
        .one-block.purple-border
            .logo
                .for-flex
                    img.img-responsive(src='img/logo_white.svg', alt='')
            ul
                li
                    | Auction ID
                    span 000001
                li
                    | Closing Date
                    span.red 09/06/2018
                li
                    | # of Investors
                    span 23
                li
                    | Total Collected
                    span.blue 200,000$
            // или ссылкой или спаном можно
            span.butt-start START
