extends layout

block append head
  script(src='/javascripts/spv.js')

block content
  h1= title
  p is blockchain platform/ecosystem

  button#create-auction Create auction

  div
      input
      input
      input

  include partial/auction-table