@charset "UTF-8";
@font-face {
  font-family: SFUIText-Medium;
  src: url(../fonts/SFUIText-Medium.eot);
  src: local("☺"), url("../fonts/SFUIText-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: SFUIText-Semibold;
  src: url(../fonts/SFUIText-Semibold.eot);
  src: local("☺"), url("../fonts/SFUIText-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: SFUIText-Bold;
  src: url(../fonts/SFUIText-Bold.eot);
  src: local("☺"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: SFUIText-Medium; }

.fixed-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  background: #fff;
  padding: 20px 0;
  width: 100%;
  min-height: 75px; }
  .fixed-menu .ham-menu {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 23px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .fixed-menu .ham-menu .line {
      height: 3px;
      background: #000; }
      .fixed-menu .ham-menu .line:nth-child(1) {
        width: 20px; }
      .fixed-menu .ham-menu .line:nth-child(2) {
        width: 100%; }
      .fixed-menu .ham-menu .line:nth-child(3) {
        width: 15px; }
  .fixed-menu .action-header {
    font-weight: normal;
    max-width: 200px;
    margin: 0 auto;
    font-family: SFUIText-Medium;
    font-size: 25px;
    text-align: center; }

.date-line {
  padding-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .date-line.diamond-line .one-date-wr .left-side {
    padding-right: 10px; }
  .date-line .one-date-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .date-line .one-date-wr.active .left-side {
      opacity: 1; }
    .date-line .one-date-wr.active .right-side .b-l {
      width: 110px;
      background: #00b3da;
      height: 3px; }
    .date-line .one-date-wr .left-side {
      padding-right: 40px;
      position: relative;
      height: 120px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .date-line .one-date-wr .left-side img {
        max-width: 28px;
        margin-bottom: 10px; }
      .date-line .one-date-wr .left-side .day-count {
        font-family: SFUIText-Medium;
        font-size: 48px;
        margin-bottom: 0;
        color: #00b3da;
        line-height: 48px;
        margin-bottom: 10px; }
        .date-line .one-date-wr .left-side .day-count.flexed {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start; }
        .date-line .one-date-wr .left-side .day-count span {
          font-size: 26px;
          display: block;
          position: relative;
          top: -7px; }
      .date-line .one-date-wr .left-side .end-date {
        font-size: 13px;
        font-family: SFUIText-Semibold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #00b3da; }
        .date-line .one-date-wr .left-side .end-date span {
          display: block;
          font-family: SFUIText-Medium;
          font-size: 21px;
          padding-left: 14px; }
    .date-line .one-date-wr .right-side {
      width: 110px;
      position: relative;
      height: 120px; }
      .date-line .one-date-wr .right-side span {
        display: block;
        padding-top: 15px;
        padding-right: 33px;
        text-align: right;
        font-size: 13px;
        color: #b4b4b4;
        font-family: SFUIText-Medium; }
      .date-line .one-date-wr .right-side .b-l {
        position: absolute;
        right: 0;
        top: 0;
        width: 75px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        height: 1px;
        background: #b4b4b4; }
      .date-line .one-date-wr .right-side .s-l {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        height: 1px;
        background: #b4b4b4; }
        .date-line .one-date-wr .right-side .s-l:nth-child(3) {
          top: 25%; }
        .date-line .one-date-wr .right-side .s-l:nth-child(4) {
          top: 50%; }
        .date-line .one-date-wr .right-side .s-l:nth-child(5) {
          top: 75%; }

.fixed-button-wr {
  position: fixed;
  bottom: 35px;
  left: 0;
  width: 100%; }
  .fixed-button-wr .fixed-button {
    max-width: 315px;
    display: block;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 13px 0;
    background: #00b3da;
    width: 100%;
    border-radius: 50px;
    font-family: SFUIText-Bold;
    font-size: 15px;
    letter-spacing: 0.3pt;
    -webkit-box-shadow: 2px 10px 20px 0 rgba(255, 91, 62, 0.3);
            box-shadow: 2px 10px 20px 0 rgba(255, 91, 62, 0.3); }
    .fixed-button-wr .fixed-button.pink-bg {
      background: #d9bfdd; }
    .fixed-button-wr .fixed-button:last-child {
      margin-top: 19px; }

.blocks {
  padding: 80px 10px 0 10px; }
  .blocks.less-padd {
    padding-top: 15px; }
  .blocks.auctions-page .one-block {
    padding: 21px 0; }
    .blocks.auctions-page .one-block .logo {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background: -webkit-gradient(linear, left top, right top, from(#d9bfdd), to(#00b3da));
      background: linear-gradient(90deg, #d9bfdd, #00b3da);
      padding: 1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto; }
      .blocks.auctions-page .one-block .logo .for-flex {
        width: 100%;
        height: 100%;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 50%; }
        .blocks.auctions-page .one-block .logo .for-flex img {
          max-width: 30px; }
    .blocks.auctions-page .one-block ul {
      list-style: none;
      max-width: 230px;
      padding-top: 20px;
      margin: 0 auto 35px auto; }
      .blocks.auctions-page .one-block ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 14px;
        color: #b4b4b4;
        font-weight: 100;
        margin-bottom: 13px; }
        .blocks.auctions-page .one-block ul li span {
          display: block;
          width: 50%;
          padding-left: 23px;
          color: #000;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
          .blocks.auctions-page .one-block ul li span.green {
            color: #48ff67; }
          .blocks.auctions-page .one-block ul li span.d-green {
            color: #2fe760; }
          .blocks.auctions-page .one-block ul li span.blue {
            color: #00b3da; }
          .blocks.auctions-page .one-block ul li span.purple {
            color: #602fe7; }
          .blocks.auctions-page .one-block ul li span.red {
            color: #ff4848; }
          .blocks.auctions-page .one-block ul li span.orange {
            color: #eb8217; }
    .blocks.auctions-page .one-block .butt-start {
      display: block;
      text-align: center;
      max-width: 153px;
      border-radius: 100px;
      color: #fff;
      font-size: 14px;
      font-family: SFUIText-Medium;
      background: -webkit-gradient(linear, left top, right top, from(#00b3da), to(#d9bfdd));
      background: linear-gradient(90deg, #00b3da, #d9bfdd);
      padding: 13px 0;
      margin: 0 auto; }
  .blocks .flex-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .blocks .flex-arrow h6 {
      font-size: 46px;
      position: relative;
      font-weight: normal; }
      .blocks .flex-arrow h6 .arrow {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: calc(100% + 29px);
        width: 20px;
        height: 20px;
        background-image: url(../img/down-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
  .blocks .text-list {
    font-family: SFUIText-Medium;
    font-size: 13px;
    color: #b4b4b4;
    text-align: center;
    margin-bottom: 40px; }
  .blocks .one-block {
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-top: 5px solid #00b3da; }
    .blocks .one-block.purple-border {
      border-top: 5px solid #d9bfdd; }
    .blocks .one-block.blue-border {
      border-top: 5px solid #602fe7; }
    .blocks .one-block.orange-border {
      border-top: 5px solid #eb8217; }
    .blocks .one-block.green-border {
      border-top: 5px solid #2fe760; }
    .blocks .one-block.diagram-block {
      min-height: 345px;
      position: relative; }
      .blocks .one-block.diagram-block .price-SPV {
        top: 37px;
        left: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        font-family: SFUIText-Medium;
        color: #00b3da;
        font-size: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .blocks .one-block.diagram-block .price-SPV span {
          font-size: 26px;
          padding-right: 9px;
          position: relative;
          top: 3px; }
      .blocks .one-block.diagram-block .diam-text-SPV {
        position: absolute;
        top: 30px;
        right: 25px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: SFUIText-Medium;
        color: #00b3da; }
      .blocks .one-block.diagram-block .count-SPV {
        position: absolute;
        bottom: 45px;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: SFUIText-Medium;
        font-size: 17px;
        color: #21ce99; }
    .blocks .one-block .waiting {
      text-align: center;
      font-size: 13px;
      color: #602fe7;
      margin-bottom: 13px; }
      .blocks .one-block .waiting.orange {
        color: #eb8217; }
      .blocks .one-block .waiting.d-green {
        color: #2fe760; }
    .blocks .one-block .eth-adr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 8px;
      color: #b4b4b4;
      padding-bottom: 10px; }
      .blocks .one-block .eth-adr span {
        padding-left: 13px;
        color: #e65e5e; }
    .blocks .one-block .approval {
      text-align: center;
      font-size: 13px;
      margin-bottom: 10px;
      color: #00b3da; }

.height-100 {
  height: 100vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .height-100 .middle .logo {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#d9bfdd), to(#00b3da));
    background: linear-gradient(90deg, #d9bfdd, #00b3da);
    padding: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px; }
    .height-100 .middle .logo .for-flex {
      width: 100%;
      height: 100%;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 50%; }
      .height-100 .middle .logo .for-flex img {
        max-width: 55px; }
  .height-100 .middle .fl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .height-100 .middle .fl .count {
      text-align: center;
      font-size: 46px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .height-100 .middle .fl .count span {
        font-size: 26px;
        display: block;
        position: relative;
        top: 10px;
        padding-right: 3px; }
  .height-100 .middle .s-t {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px; }
  .height-100 .middle .t-t {
    font-size: 16px;
    text-align: center; }
    .height-100 .middle .t-t span {
      padding-left: 14px; }
  .height-100 .bott {
    padding-bottom: 30px; }
    .height-100 .bott .continue {
      color: #00b3da; }

.avatar-wrapp {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b3da), to(#d9bfdd));
  background: linear-gradient(#00b3da, #d9bfdd); }
  .avatar-wrapp .image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px; }
  .avatar-wrapp .name {
    font-size: 24px;
    color: #fff;
    margin-bottom: 5px; }
  .avatar-wrapp .s-name {
    color: #fff;
    font-size: 18px;
    margin-bottom: 14px; }

.profile-block-style {
  padding: 25px 0; }
  .profile-block-style .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .profile-block-style .count .logo {
      width: 43px;
      height: 43px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 50%;
      background: -webkit-gradient(linear, left top, right top, from(#d9bfdd), to(#00b3da));
      background: linear-gradient(90deg, #d9bfdd, #00b3da);
      padding: 1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 16px 0 0 !important; }
      .profile-block-style .count .logo .for-flex {
        width: 100%;
        height: 100%;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 50%; }
        .profile-block-style .count .logo .for-flex img {
          max-width: 30px; }
    .profile-block-style .count p {
      font-size: 56px;
      line-height: 43px;
      text-align: right; }
      .profile-block-style .count p span {
        display: block;
        text-align: right;
        color: #00b3da;
        font-size: 14px; }
  .profile-block-style .view {
    text-align: center;
    font-size: 13px;
    color: #00b3da; }

.my-eth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 20px; }
  .my-eth p {
    margin-bottom: 0; }
  .my-eth .key {
    font-size: 13px;
    color: #7a7a7c; }
  .my-eth .s-t {
    font-size: 13px;
    color: #606060; }

.buttons-wr {
  -webkit-box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 335px;
  margin: 0 auto 40px auto; }
  .buttons-wr .butt-style-1 {
    background: #fff;
    display: block;
    text-align: center;
    padding: 14px 0;
    font-size: 17px;
    width: 50%; }
    .buttons-wr .butt-style-1:first-child {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      color: #d9bfdd;
      border-right: 1px solid #f7f7f7; }
    .buttons-wr .butt-style-1:last-child {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      color: #00b3da;
      border-left: 1px solid #f7f7f7; }

.modal {
  background: rgba(217, 191, 221, 0.4); }

body.modal-open .main-contant {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.modal-dialog {
  background: #fff;
  max-width: 260px;
  margin: 100px auto;
  border-radius: 8px;
  -webkit-box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15); }
  .modal-dialog .logo {
    width: 70px;
    height: 70px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#d9bfdd), to(#00b3da));
    background: linear-gradient(90deg, #d9bfdd, #00b3da);
    padding: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 25px auto; }
    .modal-dialog .logo .for-flex {
      width: 100%;
      height: 100%;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 50%; }
      .modal-dialog .logo .for-flex img {
        max-width: 50px; }
  .modal-dialog .launched {
    font-family: SFUIText-Semibold;
    font-size: 25px;
    color: #00b3da;
    text-align: center;
    margin-bottom: 30px; }
  .modal-dialog button {
    background: transparent;
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #b4b4b4;
    font-size: 14px; }
  .modal-dialog .modal-body {
    padding-top: 40px; }

/*# sourceMappingURL=style.css.map */