table
    tr
        th Auction ID
        th Days
        th Carats
        th Money
        th Status
    tr
        th 089fwek34234f1knc
        th 14 d
        th 10 C
        th 200 000 $
        th -
    tr
        th 089fwek34234f1knc
        th 14 d
        th 10 C
        th 200 000 $
        th -
